@import "../base/colors";
@import "../base/font";


/* HomePage HERO  */

#hp-hero-section {
  .hp_title_row,
  .et_pb_column,
  .et_pb_module,
  .et_pb_code_inner {
    height: 100%;
  }

  .hp_title_row {
    #hp_title_container {
      .top_part {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .e_sign {
          margin: 0 15px 0 0;
        }
      }

      .btm_part {
        width: 360px;
      }
    }
  }
}

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {
  #hp-hero-section {
    height: 780px !important;

    .hp_title_row {
      #hp_title_container {
        position: absolute;
        top: calc(50% - 150px);

        .top_part {
          h1 {
            font-size: 28px !important;
            font-weight: 400 !important;
            line-height: 2rem;
          }
        }
      }
    }
  }
}

/*** Responsive Styles Wide Desktop Only ***/
@media all and (min-width: 1600px) {
  #hp-hero-section {
    height: 880px !important;
  }
}

/*** Responsive Styles  BEFORE Tablet Only ***/
@media all and (min-width: 980px) and (max-width: 1100px) {
  #hp-hero-section {
    height: 800px !important;

    .hp_title_row {
      #hp_title_container {
        position: absolute !important;
        .top_part {
          h1 {
            /*font-size: 18px !important;*/
          }
        }
      }
      .et_pb_code_inner {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 748px) and (max-width: 767px) {
  #hp-hero-section {
    height: 800px !important;

    .hp_title_row {
      #hp_title_container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .top_part {
          h1 {

          }
        }
      }
    }
  }
}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 748px) and (max-width: 980px) {
  #hp-hero-section {
    height: 430px !important;

    .hp_title_row {
      #hp_title_container {
        .top_part {
          h1 {

          }
        }
      }
    }
  }
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  #hp-hero-section {
    height: 480px !important;

    #hp_title_container {
      .top_part {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        h1 {
          font-size: 13px !important;
        }
      }
    }
  }
}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
  #hp-hero-section {
    .hp_title_row {
      #hp_title_container {
        .top_part {

        }

        .btm_part {
          display: none;
        }
      }
    }

  }
}

/* END HomePage HERO  */

/*      FormAssembly_ID-445     */
#tfa_445_social {
  .wFormContainer {
    max-width: 100%;

    .wFormHeader {
      display: none;
    }

    .wForm form {
      padding: 0;

      #tfa_4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .oneField {
          width: 48%;
        }
      }

      #tfa_9 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        #tfa_5-D,
        #tfa_6-D {
          width: 48%;
        }

        #tfa_13-D {
          width: 100% !important;

          #tfa_13 {
            width: 100% !important;
            border-top: none;
            border-left: none;
            border-right: none;
          }
        }
      }

      .oneField {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid $tw_purple;
        padding: 0;

        .inputWrapper {
          max-width: 100%;
          width: 100%;

          input {
            border: none !important;
          }
        }
      }

      .actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        #submit_button {
          display: block;
          width: 400px;
          height: 60px;
          margin: 40px auto;
          font-size: 20px;
          border: 2px solid #333;
          background: #fff;
          color: $tw_gray;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background: $tw_gray;
            color: #fff;
          }
        }
      }
    }

    .wFormFooter {
      display: none;
    }
  }
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  #tfa_445_social {
    .wFormContainer {

      .wForm form {

        #tfa_4 {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          .oneField {
            width: 100%;
          }
        }

        #tfa_9 {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          #tfa_5-D,
          #tfa_6-D {
            width: 100%;
          }

        }

      }

    }
  }
}


/*   END   FormAssembly_ID-445     */

/*      FormAssembly_ID-442 Events page     */
#tfa_events_form {
  .wFormContainer {

    .wFormHeader,
    .wFormFooter,
    .supportInfo {
      display: none;
    }

    .wForm {
      background: $tw_bg_gray;
      color: $tw_gray;
      form {
        padding: 0;
        #tfa_4 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          .oneField {
            width: 48%;
            .inputWrapper,
            input {
              width: 100%;
            }
          }
        }
        #tfa_10-D {
          .inputWrapper,
          input {
            width: 100% !important;
          }
        }

        .actions {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          padding: 0;
          margin: 40px 0 0 !important;
          #submit_button {
            margin: 0;
            padding: 10px 60px;
            background: $tw_lavender;
            color: #fff;
            border: 2px solid $tw_lavender;
            border-radius: 16px;
            &:hover {
              background: #fff;
              color: $tw_lavender;
            }
          }
        }
      }
    }
  }
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  #tfa_events_form {
    .wFormContainer {

      .wForm {
        form {
          #tfa_4 {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            .oneField {
              width: 100%;
            }
          }
        }
      }
    }
  }

}

/*   END   FormAssembly_ID-442 Events page     */


/*     FormAssembly_ID-443 Gate Form     */

#tfa_443_popup-gate {
  .wFormContainer {
    form {
      #tfa_4 {
        display: flex;
        justify-content: space-between;

        .oneField {
          width: 48%;

          .inputWrapper,
          input {
            width: 100%;
          }
        }
      }

      .actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        margin: 40px 0 0 !important;

        #submit_button {
          margin: 0;
          padding: 10px 60px;
          background: $tw_lavender;
          color: #fff;
          border: 2px solid $tw_lavender;
          border-radius: 16px;

          &:hover {
            background: #fff;
            color: $tw_lavender;
          }
        }
      }

    }
  }
}

/*   END   FormAssembly_ID-443 Gate Form     */


/*** Responsive Styles Wide Desktop  ***/
@media all and (min-width: 1600px) {

}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {

}
