/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=Open+Sans:wght@300;400;600&display=swap');
*/

@import "colors";

/*

$monts: 'Montserrat', sans-serif;
$opens: 'Open Sans', sans-serif;

@mixin demi-bold($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 600 !important;
  color: $ts_font_color;
}

@mixin bold($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 900 !important;
  color: $ts_font_color;
}

@mixin italic($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 300 !important;
}

@mixin regular($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 400 !important;

}
*/
